**/.mypy_cache
.github
**/local_outputs
**/outputs
**/__pycache__/**
.python-version
Dockerfile.base
.dockerignore
feature_engineering.yaml
LICENSE
README.md
**/*.csv
src/**/local_run.py
src/**/test.py
