**/.mypy_cache
.github
**/local_outputs
**/outputs
**/__pycache__/**
.python-version
Dockerfile.base
.dockerignore
**/*.yaml
!conf/base/**
!.cloudbuild/**
LICENSE
**/*.csv
src/**/local_run.py
src/**/test.py
